body {
  padding-top: 50px;
}
.flex-container {
    display: flex;
    /*background-color:darkgray;*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*.gauges {
    
}*/

#tankImage {
    background-color: red;
    position:relative;
}
#tankImage > div {
    position:absolute;
    background-color: green;
}