body {
  padding-top: 50px;
}
.flex-container {
    display: flex;
    /*background-color:darkgray;*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gauge {
    background-color: aquamarine;
    float: left;
}

.ampTrendGraph {
    background-color: red;
    float: left;
}

.gaugeContainer:after {
    content: "";
    background-color:blueviolet;
    display: table;
    clear: both;
}


.tankBG {
    /*display: table;
    clear: both;*/
    float:left;
}

.tankGauge {
    position:absolute;
    margin: 0 auto;
    border:solid;
}

.tankContainer:after {
    border: solid;
    content: "";
    display: table;
    clear:both;
}

