@model IEnumerable<OASTest.ViewModels.TagViewModel>
@{
    ViewBag.Title = "WsTest";
}

@using (Html.BeginForm())
{
    <div id="selectBox">
        @Html.DropDownList("TagGroup", (IEnumerable<SelectListItem>)ViewBag.TagGroups, new { onchange = "this.form.submit();" })
    </div>
    <div id="gridView">
        @(Html.DevExtreme().DataGrid()
            .ID("tagGrid")
            .ShowBorders(true)
            .DataSource(Model)
            .Paging(p => p.PageSize(50))
            .FilterRow(f => f.Visible(true))
            .HeaderFilter(f => f.Visible(true))
            .GroupPanel(p => p.Visible(true))
            .Grouping(g => g.AutoExpandAll(false))
            .RemoteOperations(true)
            .Columns(c =>
            {
                c.Add()
                .DataField("Path")
                .Visible(false);
                c.Add()
                .DataField("Name");
                c.Add()
                .DataField("Reading");
                c.Add()
                .DataField("Units");
            })
        )
    </div>

}

